body {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-image: linear-gradient(225deg, #40FFC0, #961E00);
}

.buttons {
  justify-content: center;
  align-content: center;
}

.btn {
  border: 1px solid black;
 flex-direction: row;
 margin: 20px;
 background-color: #C2F0E1;
 color: #E65F3D;
}

#cardTarget {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  margin: 10px;
}
