body {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
 
}

.buttons {

}

.btn {
  border: 1px solid black;
 flex-direction: row;
 margin: 20px;
}

#cardTarget {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  margin: 10px;
}
