body {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-image: linear-gradient(225deg, #40FFC0, #961E00);
}

.buttons {
flex-direction: column;
}

.btn {
  border: 1px solid black;
 flex-direction: row;
 margin: 1rem;
 background-color: #C2F0E1;
 color: #E65F3D;
}

#cardTarget {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  margin: 1rem;
}

.form-control {
  width: 20rem;
  margin: 0.1rem;
}

/* .mb-3 {
  margin: 0.5rem;
  padding: 0.5rem;
} */
